<link rel='stylesheet' href='/content/header.css'/>
 <% console.log('Current user:', currentUser); %>
<div id="allPage">
    <!--<nav class="nav_project">-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-align=center">
        <a class="navbar-brand" href="/admin-home">
            <img src="/images/logo.png" width="60" height="60" text-align="center"></a>
        
        <ul class="navbar-nav mr-auto">
        <!--<ul class="ul_menu">-->
            <li class="nav-item">
                <a class="nav-link" href="/admin-home">&nbsp;&nbsp;Home &nbsp; </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin-list_recipes">Recipe List&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list_users">User List &nbsp;</a>   
             </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
        
             <li class="nav-item">
               <span class="navbar-text" style="color:darkred">Hi, admin! </span>
             </li>
                    
        </ul>
    </nav>
</div>