
<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        
        <title> Recipesappp-AddRecipeForm </title>
        <meta content="COMP 231-Winter2023" name="teamjuan">
        <link href='addrecipe.css' rel='stylesheet'>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
            <link rel='stylesheet' href='/content/home.css'/>

        </header>
        <div class="text-center text-muted">
            <p>
                <blockquote>"Be smart, be kind, be curious"</blockquote> - Dênio Barbosa Júnior
            </p>
            <p id="test" >Hi Guys!, what would be the motif of our site : Albert</p>
        </div>



        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>

<!-- https://www.google.com/search?q=black+bun+burgers&tbm=isch&ved=2ahUKEwiUtu66ru79AhU7AFkFHZc9ApsQ2-cCegQIABAA&oq=black+bun+burgers&gs_lcp=CgNpbWcQAzIFCAAQgAQ6BAgjECc6BggAEAcQHjoGCAAQCBAeOgQIABBDOggIABCABBCxAzoGCAAQBRAeUL4NWLI0YLc2aABwAHgAgAFKiAHdCJIBAjE4mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=01YaZNSAGruA5NoPl_uI2Ak&bih=757&biw=1600#imgrc=Bx_aUcxUG6cLvM&imgdii=-HuP7IHu9N0DpM 
https://www.google.com/search?q=green+tablecloth+stripes+vector&sxsrf=AJOqlzU62qRiSWL9G8mpaUPgILJNwj19pw:1679448773209&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi7sq6csu79AhUNmokEHUR4AdcQ_AUoAXoECAEQAw&biw=1600&bih=757&dpr=1#imgrc=WtgzSawRGFDc0M
-->