<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>       
    </head>
    <body>
        <header>
            <%- include('../partials/header-admin'); %>
            <link rel='stylesheet' href='/content/register.css'/>

        </header>

        <div  class="text-center text-muted" >
            <!-- <h1 class="text-center text-muted" >Contact</h1>-->
                <main class="text-center text-muted" >
                    <form class="form" action="/adminadd_user/information" method="POST">
                         
                        <br>
                        <fieldset><br>
                            <legend><b>Please Add User</b></legend>
                            
                            <div id="username1">
                                <label for="username"><b>Username: </b></label><br>
                                <input class="contact_input" id="username" name="username" size="35" type="text" required="required" tabindex="1">
                            </div><br>
                            <div id="password1">
                                <label for="password"><b>Password: </b></label><br>
                                <input class="contact_input" id="password" name="password" size="35" type="password" required="required" tabindex="5">
                                <input type="checkbox" onclick="togglePassword()"> Show password
                                <script>
                                function togglePassword() {
                                  var password = document.getElementById("password");
                                  if (password.type === "password") {
                                    password.type = "text";
                                  } else {
                                    password.type = "password";
                                  }
                                }
                                </script>
                            </div><br>
                            <div id="email1">
                                <label for="email"><b>Email: </b></label><br>
                                <input class="contact_input" id="email" name="email" size="35" type="email" required="required" tabindex="7">
                            </div><br><br><br><br><br><br><br><br>

                      

                            <div id="button">
                                <button type="submit" name="btnSubmit" value="Complete Registration" tabindex="36">Register Account</button>
                                <button type="reset" name="btnReset" value="Clear Form" onclick="return confirm('Do you really want to reset?')" tabindex="39">Reset</button>
                            </div><br><br><br><br><br>
                        </fieldset><br>
                        <div id="img">
                         <img src="/images/register.jpg" width="350" height="260" alt="register image"> 
                        </div>
                        
                    </form>
                    
                </main>
            </div>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>