<!DOCTYPE html>
<html><br><br><br><br><br><br>
    <head>
        <%- include('../partials/head'); %>
        
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
            <link rel='stylesheet' href='/content/home.css'/>

        </header>
        <div  id="search">
        <form><br>
             <div style="text-align:center;" class="search-wrapper">
                <div className="form-group">
                    <input
                        type="text"
                        size="50"
                        className="form-control"
                        placeholder="Searching..."
                    />
                    <button className="search-btn">Search</button>
                </div>
             </div>
             </div>
         </form><br><br>


          <div class="hero-image">
              <div class="hero-text">
                 <img class="home_hero_image" src="/images/heroimage.png" style="display: block;margin-left: auto;margin-right: auto;" float="right" height="350px" width="600px" alt="hero image">
              </div>
         </div>

         

       <!-- <h3 class="text-center text-muted">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/list_recipes">List of recipes</a>
            <a class="nav-link" href="/top_recipes">Top Recipes</a>
            <a class="nav-link" href="/post">Post</a>
            <a class="nav-link" href="/contact">Contact</a>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/add_recipe">Add Recipe</a>
        </h3> -->
        <div id="img">
            <img src="images/veges.png" width="955" height="150" alt="header image"> 
        </div>
        <div id="img1">
            <img src="images/post1.png" width="230" height="480" alt="side image"> 
        </div> <br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br>
        <br><br><div>
        <footer>
            <%- include('../partials/footer'); %>
        </footer></div>
    </body>
</html>

<!--additional image 
https://www.google.com/search?q=ingredients+panorama+png+&tbm=isch&ved=2ahUKEwi4v63EsvP9AhVoFmIAHX2dAJ0Q2-cCegQIABAA&oq=ingredients+panorama+png+&gs_lcp=CgNpbWcQAzIECCMQJ1C-BlilD2DeFWgAcAB4AIABkwGIAdYEkgEDNS4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=L_ocZPjrLuisiLMP_bqC6Ak&bih=757&biw=1600#imgrc=3FWBqNAR8-R_CM
-->