<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
            <link rel='stylesheet' href='/content/postpage.css'/>

        </header>
        </header>
        <div  class="text-center text-muted" >
            <!-- <h1 class="text-center text-muted" >Contact</h1>-->
                <main class="text-center text-muted" >
                    <form class="form" action="/register_user/info" method="POST">
                    <br>
                        <fieldset>

                            <legend><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Post Your Recipe</b></legend>
                            <div id="pageArea">
                            <div><br>
                                <label for="title"><b>Name of Recipe / Title </b></label>
                                <input class="contact_input" id="title" name="title" size="51" type="text" required="required" tabindex="1">
                            </div><br>
                            <div><br>
                                <label for="author"><b> Author </b></label>
                                <input class="contact_input" id="author" name="author" size="51" type="text" required="required" tabindex="2">
                            </div><br>
                            <div>
                                <label for="description"><b> Description </b></label>
                                <textarea id="description" name="description" cols="50" rows="8" tabindex="89" 
                                    placeholder="--- Please type the description here ---"></textarea>
                            </div>                       
                            <div>
                                <label for="ingredients"><b>Ingredients </b></label>
                                <textarea id="ingredients" name="ingredients" cols="50" rows="8" tabindex="90" 
                                    placeholder="--- Please type the ingredients here ---"></textarea>
                            </div>
                            <div class="box">
                                <button  type="submit" name="btnSubmit" value="Complete Registration" tabindex="36">Confirm</button>
                                <button type="reset" name="btnReset" value="Clear Form" onclick="return confirm('Do you really want to reset?')" tabindex="39">Reset</button>
                            </div><br><br>
                             <br><br><br>
                        </fieldset>
                        </div>

                    </form>
                    <div id="img">
                         <img src="images/post.png" width="285" height="800" alt="register image"> 
                    </div>
                </main>
            </div><br><br>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>