<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <div id="allPage">
            <h1>Recipe List</h1>
            <div style="color:white">
                <h1 style="color: white" ><%= recipe %></h1>               
        </div>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>