body {
    width: 980px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("/images/i-like-food.svg");
    background-color: rgb(243,243,243);
}

a {
  color: #ff008c;
}

.home_page_picture {
  width: 200px;
  height: 300px;
  float: right;
}

.home_page_logo {
    width: 40px;
    height: 40px;
    float: right;
}
.home_hero_image {
  float: right;
}
fieldset {
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid;
  padding: 6px;
  text-align: center;
}

.form {
  text-align: center;
  margin-right: auto;
  margin-left: auto;

}

#search {
  float: right;
}
div{
  margin: 1px;
  padding: 1px;
}
#img1 {
  float:right;
  position: relative;
  top: -635px;
  left: -645px;
  }

  #img {
    float:right;
    position: relative;
    top: -677px;
    left: 444px;
    transform: translate(-50%, -50%);
    }
 
footer {
  text-align: right;
  float: right;
}

  input {
  margin-right: 10px;
  border: 1px solid;
}

.contact_input {
  border: 1px solid;
}
li.list-group-item-dark {
  background-color: #222222;
}

.logos {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.projects_images {
  width: 840px;

}


.services-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
}

#test{
  color: greenyellow;
}



