/*body {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-size: 100%;
	background-repeat: repeat;
	position: absolute;
	overflow: hidden;
	min-height: 100vh;
	background-position: fixed;
	overflow: scroll;
	color: rgb(20, 209, 67);
	width: 980px;
  }
  h1 {
	background-repeat: no-repeat;
	/*background-image: url("/Assets/images/graybg.jpg");
	background-image: linear-gradient(to right, #fdfdff, #ebeff7);
	background-position: left;
	background-size: 5 px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 2em;
	font-weight: 900;
	color: rgb(19, 18, 18);
	padding-left: 40px;
	height: 120px;
	width: 650px;
	padding-top: 1px;

	border-radius: 15px;
	box-shadow: 5px 5px 5px #808080;
	text-align: left;

  }

#loginPage {
    width: 980px;
    height: 500px;

    margin-right: auto;
    margin-left: auto;
    border: 3px solid #191a19;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #484bec;
	background-image: url('teamlogo3.png');
	background-color: rgba(190, 184, 209, 0.9);
	color: rgb(255, 248, 248);
	font-weight: 800;
	font-size: 14pt;	
    text-align: left;
	 /*background-color: rgb(233, 240, 243, 96); 
	 margin: auto;
	 padding-left: 120px;
	 padding-right: 120px;
	 background-image: linear-gradient(to right top, #e72191, #ff3c65, #8896c5, #8b83cf, #5b6996, #b5d001, #93e125, #5bf24a, #59f560, #59f773, #5bf985, #5ffb95);
}


label {

    float:center;
    text-align: left;
	padding-right: 15px;
	font-size: 16pt;
}



footer {
    text-align: center;
	height: 50px;
    background-color: rgb(83, 87, 90);
    color: rgb(255, 255, 255);
    font-size: large;
}
*/

body {
    width: 980px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("/images/i-like-food.svg");
    background-color: rgb(243,243,243);
    color: green;
}

a {
  color: #ff008c;
}

.home_page_picture {
  width: 200px;
  height: 300px;
  float: right;
}

.home_page_logo {
    width: 40px;
    height: 40px;
    float: right;
}

fieldset {

border-radius: 5px;
border: 1px solid;
border-color: green;


width: auto;
color: black;
font-size: 12pt;
box-shadow: 5px 5px 5px green;
  
}

label {
  width: 280px;
  float:left;
  text-align: center;
	padding-left: 1px;
  

}

legend {
color: green;
text-align: center;
}

form {
	text-align: center;
	float:left;
	position: absolute;
	top:250px;
	left: 480px;	
}


#button1 {
	text-align: center;
	color: #141313;
	background-color: rgb(57, 245, 11);
	border-radius: 15px;
	box-shadow: 5px 5px 5px #161616;
	text-align: center;
	float:left;
	position: absolute;
	top: 375px;
	left: 478px;	 


	padding: 20px 20px 20px ;

  width: 273px;
  height: 30px;

}

#img {
float:right;
position: absolute;
top: 215px;
left: 820px;
}

.form {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 14pt;
}

div{
  margin: 1px;
  padding: 1px;
}

input {
  margin-right: 10px;
  border: 1px solid;
}

.contact_input {
  border: 1px solid;
}
li.list-group-item-dark {
  background-color: #222222;
}

.logos {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.projects_images {
  width: 840px;

}


.services-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
}

#test{
  color: greenyellow;
}

