body {
    width: 980px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("/images/i-like-food.svg");
    background-color: rgb(243,243,243);
    color: green;
}

a {
  color: #ff008c;
}

.home_page_picture {
  width: 200px;
  height: 300px;
  float: right;
}

.home_page_logo {
    width: 40px;
    height: 40px;
    float: right;
}

fieldset {

  border-radius: 5px;
  border: 1px solid;
  border-color: green;
  padding-left: 2px;

  width: auto;
  color: black;
  font-size: 12pt;
  box-shadow: 5px 5px 5px green;
  
}

label {
  width: 280px;
  float:left;
  text-align: center;
	padding-left: 1px;
  

}


legend {
color: green;
}

#username1 {
  text-align: center;
  float:left;
  position: absolute;
  top:230px;
  left: 430px;
}

#password1 {
text-align: center;
float:left;
position: absolute;
top:295px;
left: 430px;
}
 



#email1 {
  text-align: center;
  float:left;
  position: absolute;
  top:375px;
  left: 430px;
  }

#button {
	text-align: center;
	color: #141313;
	background-color: rgb(57, 245, 11);
	border-radius: 15px;
	box-shadow: 5px 5px 5px #161616;
	font-size: medium;
	font-weight: 900;


	padding: 20px 20px 20px ;
	position: relative;
	left: 60px;
  top: 60px;
  width: 745px;
  height: 55px;
}

#img {
float:right;
position: relative;
top: -375px;
left: -70px;
}

.form {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 14pt;
}

div{
  margin: 1px;
  padding: 1px;
}

input {
  margin-right: 10px;
  border: 1px solid;
}

.contact_input {
  border: 1px solid;
}
li.list-group-item-dark {
  background-color: #222222;
}

.logos {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.projects_images {
  width: 840px;

}


.services-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
}

#test{
  color: greenyellow;
}

.error {
  color: red;
}

#foot {
  text-align: center;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.password-container {
  width: 500px;
  position: relative;
}

.fa-eye {
  position: absolute;
  top: 790;
  right: 980;
  cursor: pointer;
  color: light gray;
}

.contact_input {

  text-align: left;
  color: #0be21d;
  position: relative;
  top: 790;
  left: 100;

}
